@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Mulish:wght@300;400&family=Playfair+Display:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Mulish:wght@300;400&family=Playfair+Display:wght@700&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  min-height: 100%;
  line-height: 1;
  font-size: 15px;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  background: #fafafa;
}

.header .header__container .header__buttons .header__button, .page .main-block .main-block__body .main-block__content .main-block__buttons .main-block__button, .page__stat .stat__container .stat__header .stat__buttons .stat__button_orange, .guides .guides__container .guides__header .guides__buttons .guides__button_orange {
  border-radius: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0;
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 150%;
  background: #FB8F1D;
  color: #fff;
  border: 1px solid #FB8F1D;
}

.header .header__container .header__buttons .header__button_orange:hover, .header .header__container .header__buttons .header__button_white, .page .main-block .main-block__body .main-block__content .main-block__buttons .main-block__button_orange:hover, .page__stat .stat__container .stat__header .stat__buttons .stat__button_orange:hover, .guides .guides__container .guides__header .guides__buttons .guides__button_orange:hover {
  background: #fff;
  color: #FB8F1D;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*1226 designer is newbie!!!! important*/
._container {
  max-width: 1226px;
  padding: 0px 8px;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}

.header .header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 104px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header .header__container .header__ui {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60%;
          flex: 1 1 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header__container .header__ui .header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10%;
          flex: 0 0 10%;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  padding: 20px;
}

.header .header__container .header__ui .header__menu {
  margin: 20px 0;
  padding: 5px 0px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header .header__container .header__ui .header__menu .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header .header__container .header__ui .header__menu .menu__list .menu__link {
  font-size: 16px;
  color: #B8BECD;
  line-height: 121%;
  font-weight: 400;
}

.header .header__container .header__ui .header__menu .menu__list .menu__link:hover {
  text-decoration: underline;
  color: #202336;
  font-weight: 500;
}

.header .header__container .header__ui .header__menu .menu__item {
  margin: 0px 21px 0px 0px;
}

@media (max-width: 479px) {
  .header .header__container .header__ui .header__menu .menu__item:not(:last-child) {
    margin: 0px 15px 0px 0px;
  }
  .header .header__container .header__ui .header__menu .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header .header__container .header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -10px 0;
}

.header .header__container .header__buttons .header__button {
  min-height: 60px;
  min-width: 132px;
  margin: 8px;
}

.header .header__container .header__buttons .header__button_white:hover {
  color: #fff;
  background: #27C787;
  border: 1px solid #27C787;
}

@media (max-width: 512px) {
  .header .header__container .header__button {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .header .header__container .header__buttons {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    width: 100%;
  }
  .header .header__container .header__ui {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

@media (max-width: 810px) {
  .header .header__container .header__buttons {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media (max-width: 992px) {
  .header .header__menu {
    margin: 0px 0px 0px 80px;
  }
}

@media (max-width: 767px) {
  .header .header__menu {
    margin: 0px 0px 0px 40px;
  }
}

@media (max-width: 479px) {
  .header .menu__link {
    font-size: 18px;
  }
  .header .header__menu {
    margin: 0px 0px 0px 38px;
  }
}

@media (max-width: 479px) {
  .header__container {
    min-height: 70px;
  }
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.page .main-block .main-block__body {
  padding: 184px 0px 5px 0px;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.page .main-block .main-block__body .main-block__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  z-index: 12;
}

.page .main-block .main-block__body .main-block__content .main-block__title {
  font-family: 'Playfair Display', serif;
  margin-left: 15px;
  font-size: 64px;
  line-height: calc(80/64*100%);
  font-weight: 700;
  letter-spacing: 0.2px;
}

@media (max-width: 479px) {
  .page .main-block .main-block__body .main-block__content .main-block__body {
    padding: 120px 0 171px 0;
  }
  .page .main-block .main-block__body .main-block__content .main-block__title {
    font-size: 42px;
  }
  .page .main-block .main-block__body .main-block__content .main-block__button {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.page .main-block .main-block__body .main-block__content .main-block__text {
  margin-left: 15px;
  color: #202336;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.21;
  position: relative;
  font-weight: 600;
}

.page .main-block .main-block__body .main-block__content .main-block__text::after {
  content: "";
  position: absolute;
  left: 16px;
  top: 148%;
  width: 32px;
  height: 2px;
  background-color: #202336;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.page .main-block .main-block__body .main-block__content .main-block__text::before {
  content: "";
  position: absolute;
  left: -85px;
  top: 60px;
  background: url("./../img/mainBlock/big.svg") no-repeat 50%;
  width: 26px;
  height: 26px;
  -webkit-transform: translate(-20%, -50%);
          transform: translate(-20%, -50%);
}

.page .main-block .main-block__body .main-block__content .main-block__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-weight: 400;
  margin: 58px -15px 30px 0;
  padding-left: -15px;
  z-index: 12;
}

.page .main-block .main-block__body .main-block__content .main-block__form .select__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 0.8px solid #AFB0B9;
  border-radius: 6px;
  margin: 15px;
  min-width: 220px;
  min-height: 52px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
  z-index: 12;
}

.page .main-block .main-block__body .main-block__content .main-block__form .select__main select {
  font-weight: 400;
  font-size: 15px;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: transparent;
  color: #000;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  z-index: 12;
}

.page .main-block .main-block__body .main-block__content .main-block__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 35px 15px;
}

.page .main-block .main-block__body .main-block__content .main-block__buttons .main-block__button {
  min-height: 60px;
  min-width: 180px;
  font-weight: 700;
  font-family: 'Mulish', serif;
  font-size: 17px;
}

@media (max-width: 479px) {
  .page .main-block .main-block__body .main-block__content .main-block__buttons {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.page .main-block .main-block__body .main-block__image {
  width: 687px;
  height: 654px;
  position: relative;
  z-index: 1;
}

.page .main-block .main-block__body .main-block__image::before {
  content: "";
  position: absolute;
  left: -10.6%;
  top: 24px;
  background: url("./../img/mainBlock/element3.svg") no-repeat 50%;
  width: 26px;
  height: 26px;
  -webkit-transform: translate(-20%, -50%);
          transform: translate(-20%, -50%);
  z-index: 1;
}

.page .main-block .main-block__body .main-block__image::after {
  content: "";
  position: absolute;
  left: -4.56%;
  top: 587px;
  background: url("./../img/mainBlock/explore_round.svg") no-repeat 50%;
  width: 26px;
  height: 26px;
  -webkit-transform: translate(-20%, -50%);
          transform: translate(-20%, -50%);
  z-index: 1;
}

.page .main-block .main-block__body .main-block__image .main-block__image img {
  position: absolute;
  right: 0;
  top: 100px;
}

.page .main-block .main-block__body .main-block__body > *:not(:last-child) {
  margin: 0px 0px 35px 0px;
}

@media (max-width: 992px) {
  .page .main-block .main-block__body {
    padding: 120px 0 5px 0;
  }
}

@media (max-width: 810px) {
  .page .main-block {
    margin-top: 70px;
  }
}

@media (max-width: 512px) {
  .page .main-block {
    margin-top: 170px;
  }
}

@media (min-width: 479px) {
  .main-block__button:not(:last-child) {
    margin-right: 10px;
  }
}

@media (max-width: 1300px) {
  .main-block__image img {
    -o-object-position: left;
       object-position: left;
  }
}

.header-block {
  text-align: left;
  letter-spacing: 0.2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-block .header-block__title {
  font-size: 36px;
  font-family: 'Playfair Display', serif;
  line-height: 142%;
  font-weight: 700;
  max-width: 481px;
}

@media (max-width: 1200px) {
  .header-block .header-block__title {
    max-width: 100%;
  }
}

.header-block .header-block__title:not(:last-child) {
  margin: 15px 0 20px 0;
}

.header-block .header-block__subtitle {
  line-height: 142%;
  font-size: 17px;
  color: #7D7987;
  font-family: 'Mulish', sans-serif;
  font-weight: 300;
  max-width: 450px;
  padding: 5px;
}

.header-block .header-block__subtitle:not(:last-child) {
  margin: 0 0 33px 0;
}

@media (max-width: 659px) {
  .header-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.page__stat {
  margin: 280px 0 0 0;
  background: #fafafa;
}

.page__stat .stat__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.page__stat .stat__container .stat__header {
  margin: 0 0 50px 100px;
  z-index: 12;
}

.page__stat .stat__container .stat__header .stat__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page__stat .stat__container .stat__header .stat__buttons .stat__button_orange {
  position: relative;
  min-height: 48px;
  min-width: 164px;
  font-weight: 600;
  font-size: 16px;
}

.page__stat .stat__container .stat__header .stat__buttons .stat__button_orange::after {
  content: "";
  position: absolute;
  left: 208%;
  top: 0px;
  background: url("./../img/mainBlock/explore_round.svg") no-repeat 50%;
  width: 26px;
  height: 26px;
  transform: translate(-20%, -50%);
  -webkit-transform: translate(-20%, -50%);
  -moz-transform: translate(-20%, -50%);
  -ms-transform: translate(-20%, -50%);
  -o-transform: translate(-20%, -50%);
}

@media (max-width: 1200px) {
  .page__stat .stat__container .stat__header {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin: 0 0 20px 20px;
  }
}

@media (max-width: 659px) {
  .page__stat .stat__container .stat__header {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.page__stat .stat__container .stat__img {
  margin: 0 -15px -30px;
  position: relative;
}

.page__stat .stat__container .stat__img::before {
  content: "";
  position: absolute;
  left: 105%;
  top: -11px;
  background: url("./../img/mainBlock/element.svg") no-repeat 50%;
  width: 26px;
  height: 26px;
  -webkit-transform: translate(-20%, -50%);
          transform: translate(-20%, -50%);
  z-index: 14;
}

@media (max-width: 992px) {
  .page__stat {
    padding: 50px 0;
  }
}

@media (max-width: 1200px) {
  .stat__header {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin: 0 0 20px 20px;
  }
}

.page__destinations {
  padding: 125px 0 80px 0;
  background: #fafafa;
}

.page__destinations .destinations__header {
  margin: 0 0 45px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 0;
}

.page__destinations .destinations__header::before {
  content: "";
  position: absolute;
  left: -6%;
  top: 294px;
  background: url("./../img/mainBlock/element.svg") no-repeat 50%;
  width: 26px;
  height: 26px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 0;
}

.page__destinations .destinations__header::after {
  content: "";
  position: absolute;
  left: 43%;
  top: 522px;
  background: url("./../img/mainBlock/explore_round.svg") no-repeat 50%;
  width: 26px;
  height: 26px;
  -webkit-transform: translate(-20%, -50%);
          transform: translate(-20%, -50%);
  z-index: 0;
}

.page__destinations .destinations__header .destinations__view_all {
  padding: 0 25px 0 0;
  position: relative;
  color: #FB8F1D;
  z-index: -1;
}

.page__destinations .destinations__header .destinations__view_all::before {
  content: "";
  position: absolute;
  left: 81%;
  top: 50%;
  background: url("./../img/mainBlock/VO.svg") no-repeat 50%;
  width: 26px;
  height: 26px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 14;
  z-index: 1;
}

.page__destinations .destinations__header .destinations__view_all::after {
  content: "";
  position: absolute;
  left: -188%;
  top: -34px;
  background: url("./../img/mainBlock/explore_round.svg") no-repeat 50%;
  width: 26px;
  height: 26px;
  -webkit-transform: translate(-20%, -50%);
          transform: translate(-20%, -50%);
  z-index: 1;
}

.page__destinations .destinations__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -20px -30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page__destinations .destinations__body .destinations__column {
  padding: 0 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  margin: 0 0 30px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.page__destinations .destinations__body .destinations__column .destinations__item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page__destinations .destinations__body .destinations__column .destinations__item .destinations__icon {
  z-index: 2;
}

.page__destinations .destinations__body .destinations__column:not(:last-child) {
  margin: 0 0 30px 0px;
}

@media (max-width: 1182px) {
  .page__destinations .destinations__body .destinations__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
}

@media (max-width: 560px) {
  .page__destinations .destinations__body .destinations__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 767px) {
  .destinations__header {
    margin: 0 0 25px 0;
  }
  .page__destinations {
    padding: 0px 0 40px 0;
  }
  .destinations__header {
    margin: 0 0 25px 0;
  }
}

@media (max-width: 992px) {
  .page__destinations {
    padding: 40px 0 80px 0;
  }
}

.guides {
  margin: 170px 0 0 0;
  background: #fafafa;
}

.guides .guides__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.guides .guides__container .guides__header {
  margin: 0 0 50px 100px;
  z-index: 12;
  position: relative;
}

.guides .guides__container .guides__header .guides__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.guides .guides__container .guides__header .guides__buttons .guides__button_orange {
  position: relative;
  min-height: 48px;
  min-width: 164px;
  font-weight: 600;
  font-size: 16px;
}

.guides .guides__container h2::after {
  content: "";
  position: absolute;
  left: 10.4%;
  top: 11px;
  background: url("./../img/mainBlock/explore_round.svg") no-repeat 50%;
  width: 26px;
  height: 26px;
  transform: translate(-20%, -50%);
  -webkit-transform: translate(-20%, -50%);
  -moz-transform: translate(-20%, -50%);
  -ms-transform: translate(-20%, -50%);
  -o-transform: translate(-20%, -50%);
}

@media (max-width: 1200px) {
  .guides .guides__container .guides__header {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin: 0 0 20px 0px;
  }
}

@media (max-width: 659px) {
  .guides .guides__container .guides__header {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.guides .guides__container .guides__img {
  margin: 0 -15px -30px;
  position: relative;
}

.guides .guides__container .guides__img::before {
  content: "";
  position: absolute;
  left: 110%;
  top: 55px;
  background: url("./../img/mainBlock/gts_cross.svg") no-repeat 50%;
  width: 26px;
  height: 26px;
  -webkit-transform: translate(-20%, -50%);
          transform: translate(-20%, -50%);
  z-index: 14;
}

.guides .guides__container .guides__img::after {
  content: "";
  position: absolute;
  left: -15%;
  top: 505px;
  background: url("./../img/mainBlock/element.svg") no-repeat 50%;
  width: 26px;
  height: 26px;
  transform: translate(-20%, -50%) rotate(20.4deg);
  z-index: 14;
  -webkit-transform: translate(-20%, -50%) rotate(20.4deg);
  -moz-transform: translate(-20%, -50%) rotate(20.4deg);
  -ms-transform: translate(-20%, -50%) rotate(20.4deg);
  -o-transform: translate(-20%, -50%) rotate(20.4deg);
}

@media (max-width: 1200px) {
  .guides .guides__container {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin: 0 0 20px 0px;
  }
}

@media (max-width: 1200px) {
  .guides__header {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin: 0 0 20px 20px;
  }
}

/*-------------------------testimony----------------------------------------------------*/
.testimony {
  margin: 50px 0 50px 0;
}

.testimony__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 615px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 832px) {
  .testimony__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .testimony__container:last-child {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.testimony__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.testimony__header .header-block__ornament {
  width: 190px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.testimony__header .header-block__ornament div {
  height: 25px;
  width: 25px;
  background: url("./../img/mainBlock/star.svg") no-repeat 50%;
}

.testimony__header .header-block__ornament::after {
  content: "";
  position: absolute;
  left: -100px;
  top: 65px;
  background: url("./../img/mainBlock/explore_round.svg") no-repeat 50%;
  width: 26px;
  height: 26px;
  transform: translate(-20%, -50%) rotate(20.4deg);
  z-index: 0;
  -webkit-transform: translate(-20%, -50%) rotate(20.4deg);
  -moz-transform: translate(-20%, -50%) rotate(20.4deg);
  -ms-transform: translate(-20%, -50%) rotate(20.4deg);
  -o-transform: translate(-20%, -50%) rotate(20.4deg);
}

@media (min-width: 659px) {
  .testimony__header .header-block__title:not(:last-child) {
    margin: 0 0 145px 0;
  }
}

.testimony__edward .testimony__name {
  font-weight: 700;
  font-size: 22px;
  line-height: 210%;
}

.testimony__edward .testimony__status {
  font-weight: 400;
  font-size: 18px;
  line-height: 260%;
}

.testimony__img {
  position: relative;
  height: 522px;
}

.testimony__img::after {
  content: "";
  position: absolute;
  left: 7px;
  top: 472.8px;
  background: url("./../img/mainBlock/test_big_cross.svg") no-repeat 50%;
  width: 32px;
  height: 32px;
  -webkit-transform: translate(-20%, -50%);
          transform: translate(-20%, -50%);
  z-index: 14;
}

.testimony__img::before {
  content: "";
  position: absolute;
  left: 370px;
  top: 4px;
  background: url("./../img/mainBlock/test_round_big.svg") no-repeat 50%;
  width: 42px;
  height: 42px;
  -webkit-transform: translate(-20%, -50%);
          transform: translate(-20%, -50%);
  z-index: 0;
}

.testimony__img .gallery-1 {
  position: relative;
  margin-right: 388px;
}

.testimony__img .gallery-1 .buttons {
  top: 410px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 260px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 22px 20px 0 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.testimony__img .gallery-1 .buttons input {
  border: 1px solid black;
  min-width: 40px;
  min-height: 40px;
  border-radius: 50%;
  position: relative;
  margin: 2px 20px 0 0;
}

.testimony__img .gallery-1 .buttons .prev1 {
  background: url("./../img/mainBlock/test_ar_le.svg") no-repeat 50%;
}

.testimony__img .gallery-1 .buttons .next1 {
  background: url("./../img/mainBlock/test_ar_ri.svg") no-repeat 50%;
}

.testimony__img .gallery-1 .buttons .endprev {
  border-color: #d7d7d7;
  background: url("./../img/mainBlock/test_ar_le_end.svg") no-repeat 50%;
}

.testimony__img .gallery-1 .buttons .endnext {
  border-color: #d7d7d7;
  background: url("./../img/mainBlock/test_ar_ri_end.svg") no-repeat 50%;
}

@media (max-width: 362px) {
  .testimony__img .gallery-1 .buttons {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.testimony__img .gallery-1 img {
  width: 384px;
  height: 491px;
  top: 0px;
  left: auto;
  position: absolute;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.testimony__img .gallery-1 .showed {
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
}

/*-----------------tranding**********-------------------------------------------------*/
.trending__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
}

.trending__container .header-block {
  margin: 0 0 45px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 0;
}

.trending__container .header-block::before {
  content: "";
  position: absolute;
  left: -6%;
  top: 294px;
  background: url("./../img/mainBlock/element.svg") no-repeat 50%;
  width: 26px;
  height: 26px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 0;
}

.trending__container .header-block::after {
  content: "";
  position: absolute;
  left: 43%;
  top: 522px;
  background: url("./../img/mainBlock/explore_round.svg") no-repeat 50%;
  width: 26px;
  height: 26px;
  -webkit-transform: translate(-20%, -50%);
          transform: translate(-20%, -50%);
  z-index: 0;
}

.trending__container .header-block .trending__view_all {
  padding: 0 25px 0 0;
  position: relative;
  color: #FB8F1D;
  z-index: -1;
}

.trending__container .header-block .trending__view_all::before {
  content: "";
  position: absolute;
  left: 81%;
  top: 50%;
  background: url("./../img/mainBlock/VO.svg") no-repeat 50%;
  width: 26px;
  height: 26px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 14;
  z-index: 1;
}

.trending__container .header-block .trending__view_all::after {
  content: "";
  position: absolute;
  left: -188%;
  top: -34px;
  background: url("./../img/mainBlock/explore_round.svg") no-repeat 50%;
  width: 26px;
  height: 26px;
  -webkit-transform: translate(-20%, -50%);
          transform: translate(-20%, -50%);
  z-index: 1;
}

.trending__container .trending__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.trending__container .trending__body .trending__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  margin: 0px 10px 0 0px;
  max-width: 261px;
}

.trending__container .trending__body .trending__column:not(:last-child) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

@media (max-width: 1120px) {
  .trending__container .trending__body .trending__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

.contact {
  background-color: #fff;
  padding: 42px 0;
}

.contact .contact__content {
  padding: 0 0 20px 0;
}

.contact .contact__content .contact__title {
  font-weight: 700;
  letter-spacing: 0.1px;
  font-size: 24px;
  line-height: 133%;
}

.contact .contact__content .contact__title:not(:last-child) {
  margin: 0 0 10px 0;
}

.contact .contact__content .contact__text {
  line-height: 142%;
  color: #737373;
}

.contact .contact__button {
  min-height: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ff7b47;
  border-radius: 5px;
  padding: 5px 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  transition: background-color 0.3s ease 0s;
  -webkit-transition: background-color 0.3s ease 0s;
  -moz-transition: background-color 0.3s ease 0s;
  -ms-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
}

.contact .contact__button:hover {
  background: #aa5330;
}

@media (min-width: 767px) {
  .contact__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contact__content {
    padding: 0 20px 0 0;
  }
}

/*-///////+++++++++++++++++++++++////-FOOTER-- ///--------*************************************************************-------*/
.footer__top {
  background: #17213c;
  padding: 35px 0;
}

.footer__top .footer__row {
  margin: 0 -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__top .footer__row .footer__column {
  padding: 15px 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 16.667%;
          flex: 0 1 16.667%;
  min-width: 170px;
}

.footer__top .footer__row .footer__column .footer__label {
  color: #fff;
  font-size: 16px;
  line-height: 150%;
  font-weight: 700;
  margin: 0 0 20px 0;
}

.footer__top .footer__row .footer__column .menu_footer__item:not(:last-child) {
  margin: 0 0 10px 0;
}

.footer__top .footer__row .footer__column .menu_footer__link {
  color: #fff;
  display: inline-block;
  letter-spacing: 0.2px;
  line-height: 171%;
}

.footer__top .footer__row .footer__column .menu_footer__link:hover {
  text-decoration: underline;
}

.footer__top .footer__row .footer__column .contacts_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__top .footer__row .footer__column .contacts_footer .contacts_footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 142%;
  color: #fff;
  min-height: 30px;
  padding: 0 0 0 34px;
}

.footer__top .footer__row .footer__column .contacts_footer .contacts_footer__item:hover {
  text-decoration: underline;
}

.footer__top .footer__row .footer__column .contacts_footer .contacts_footer__item:not(:last-child) {
  margin: 0 0 12px 0;
}

.footer__top .footer__row .footer__column .contacts_footer .contacts_footer__item_phone {
  background: url("../img/mainBlock/small_phone.svg") 0 0 no-repeat;
}

.footer__top .footer__row .footer__column .contacts_footer .contacts_footer__item_map {
  background: url("../img/mainBlock/gps_small.svg") 0 0 no-repeat;
}

.footer__top .footer__row .footer__column .contacts_footer .contacts_footer__item_email {
  background: url("../img/mainBlock/small_telegram.svg") 0 0 no-repeat;
}

@media (max-width: 992px) {
  .footer__top .footer__row .footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
  }
  .footer__top .footer__row .footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .footer__top .footer__row .footer__column:last-child {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.footer__top .footer__row .footer__column:last-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

@media (max-width: 992px) {
  .footer__top .footer__row .footer__column:last-child {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.footer__bottom {
  padding: 25px 0;
}

.footer__bottom .footer_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__bottom .footer_container .footer_copy {
  color: #737373;
  line-height: 171%;
}

.footer__bottom .footer_container .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__bottom .footer_container .social__item:not(:last-child) {
  margin: 0px 20px 0px 0px;
}

@media (max-width: 767px) {
  .footer__bottom .footer_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__bottom .footer_copy {
    margin: 0 0 15px 0;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */