%button_style {
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 36px;
    min-height: 48px;
    min-width: 137px;
    font-weight: 700;
    letter-spacing: 0.2px;
    line-height: 150%;
    margin: 10px 0;
    background: #fff;
    color: #FB8F1D;
    margin: 8px;
    border: 1px solid #FB8F1D;
}