$featurestext_h1_color: #042521;
$featurestext_color: #80918E;
$pale_color: #7D7987;
$text_color: #202336;
$paleheader_color: #B8BECD;
$orange_color: #FB8F1D;
$footer_color: #17213c;
$stars_color: #FFBB0C;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Mulish:wght@300;400&family=Playfair+Display:wght@700&display=swap');
%button_style {
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    font-weight: 500;
    letter-spacing: 0.2px;
    line-height: 150%;
    background: #fff;
    color: #FB8F1D;
    border: 1px solid #FB8F1D;
}

@mixin butt_meas ($he,
$wi) {
    min-height: $he;
    min-width: $wi;
}