    @import "zero.scss";
    @import "mixins.scss";
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Mulish:wght@300;400&family=Playfair+Display:wght@700&display=swap');
    $featurestext_h1_color: #042521;
    $featurestext_color: #80918E;
    $pale_color: #7D7987;
    $text_color: #202336;
    $paleheader_color: #B8BECD;
    $orange_color: #FB8F1D;
    $footer_color: #17213c;
    $stars_color: #FFBB0C;
    //prospect pobedy 26 a
    .wrapper {
        min-height: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }
    /*1226 designer is newbie!!!! important*/
    
    ._container {
        max-width: 1226px;
        padding: 0px 8px;
        margin: 0 auto;
        box-sizing: content-box;
    }
    
    // ._ibg {
    //     position: relative;
    // }
    // ._ibg img {
    //     position: absolute;
    //     width: 100%;
    //     height: 100%;
    //     top: 0;
    //     left: 0;
    //     object-fit: cover;
    // }
    //header---------------------------------------------------------------------------------
    .header {
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 50;
        .header__container {
            display: flex;
            min-height: 104px;
            align-items: center;
            flex-wrap: wrap;
            .header__ui {
                flex: 1 1 60%;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
                .header__logo {
                    flex: 0 0 10%;
                    align-self: start;
                    padding: 20px;
                }
                .header__menu {
                    margin: 20px 0;
                    padding: 5px 0px;
                    align-self: center;
                    .menu__list {
                        display: flex;
                        flex-wrap: wrap;
                        .menu__link {
                            // font-family: inter;//////////////////////////
                            font-size: 16px;
                            color: #B8BECD;
                            line-height: 121%;
                            font-weight: 400;
                        }
                        .menu__link:hover {
                            text-decoration: underline;
                            color: #202336;
                            font-weight: 500;
                        }
                    }
                    .menu__item {
                        margin: 0px 21px 0px 0px;
                    }
                    @media (max-width: 479px) {
                        .menu__item:not(:last-child) {
                            margin: 0px 15px 0px 0px;
                        }
                        .menu__list {
                            flex-direction: column;
                        }
                    }
                }
            }
            .header__buttons {
                display: flex;
                flex-wrap: wrap;
                margin: -10px 0;
                .header__button {
                    @extend %button_style;
                    @include butt_meas(60px,
                    132px);
                    margin: 8px;
                }
                .header__button_orange:hover {
                    @extend %button_hover;
                }
                .header__button_white {
                    @extend %button_hover;
                }
                .header__button_white:hover {
                    color: #fff;
                    background: #27C787;
                    border: 1px solid #27C787;
                }
            }
            @media (max-width: 512px) {
                .header__button {
                    flex: 1 1 100%;
                }
                .header__buttons {
                    flex: 1 1 100%;
                    width: 100%;
                }
                .header__ui {
                    flex: 1 1 100%;
                }
            }
            @media (max-width: 810px) {
                .header__buttons {
                    flex: 1 1 100%;
                    justify-content: flex-end;
                }
            }
        }
        @media (max-width: 992px) {
            .header__menu {
                margin: 0px 0px 0px 80px;
            }
        }
        @media (max-width: 767px) {
            .header__menu {
                margin: 0px 0px 0px 40px;
            }
        }
        @media (max-width: 479px) {
            .menu__link {
                font-size: 18px;
            }
            .header__menu {
                margin: 0px 0px 0px 38px;
            }
        }
    }
    
    @media (max-width: 479px) {
        .header__container {
            min-height: 70px;
        }
    }
    
    // ----------------------------------page----------=======================page-------------------------------------
    .page {
        flex: 1 1 auto;
        .main-block {
            .main-block__body {
                padding: 184px 0px 5px 0px;
                z-index: 2;
                display: flex;
                position: relative;
                .main-block__content {
                    flex: 1 1 50%;
                    z-index: 12;
                    .main-block__title {
                        font-family: 'Playfair Display', serif;
                        margin-left: 15px;
                        font-size: 64px;
                        line-height: calc(80/64*100%);
                        font-weight: 700;
                        letter-spacing: 0.2px;
                    }
                    @media (max-width: 479px) {
                        .main-block__body {
                            padding: 120px 0 171px 0;
                        }
                        .main-block__title {
                            font-size: 42px;
                        }
                        .main-block__button {
                            flex: 1 1 100%;
                        }
                    }
                    .main-block__text {
                        margin-left: 15px;
                        color: #202336;
                        font-size: 22px;
                        font-weight: 600;
                        line-height: 1.21;
                        position: relative;
                        font-weight: 600;
                        &::after {
                            content: "";
                            position: absolute;
                            left: 16px;
                            top: 148%;
                            width: 32px;
                            height: 2px;
                            background-color: #202336;
                            transform: translate(-50%, -50%);
                        }
                        &::before {
                            content: "";
                            position: absolute;
                            left: -85px;
                            top: 60px;
                            background: url('./../img/mainBlock/big.svg') no-repeat 50%;
                            width: 26px;
                            height: 26px;
                            transform: translate(-20%, -50%);
                        }
                    }
                    .main-block__form {
                        display: flex;
                        flex-wrap: wrap;
                        font-weight: 400;
                        margin: 58px -15px 30px 0;
                        padding-left: -15px;
                        z-index: 12;
                        .select__main {
                            display: flex;
                            border: 0.8px solid #AFB0B9;
                            border-radius: 6px;
                            margin: 15px;
                            min-width: 220px;
                            min-height: 52px;
                            justify-content: center;
                            align-items: center;
                            padding: 0 15px;
                            z-index: 12;
                            select {
                                font-weight: 400;
                                font-size: 15px;
                                box-shadow: none;
                                background: transparent;
                                color: #000;
                                cursor: pointer;
                                display: flex;
                                width: 100%;
                                z-index: 12;
                            }
                        }
                    }
                    .main-block__buttons {
                        display: flex;
                        margin: 35px 15px;
                        .main-block__button {
                            @extend %button_style;
                            @include butt_meas(60px,
                            180px);
                            font-weight: 700;
                            font-family: 'Mulish', serif;
                            font-size: 17px;
                        }
                        .main-block__button_orange:hover {
                            @extend %button_hover;
                        }
                    }
                    @media (max-width: 479px) {
                        .main-block__buttons {
                            flex: 1 1 100%;
                        }
                    }
                }
                .main-block__image {
                    width: 687px;
                    height: 654px;
                    position: relative;
                    z-index: 1;
                    &::before {
                        content: "";
                        position: absolute;
                        left: -10.6%;
                        top: 24px;
                        background: url('./../img/mainBlock/element3.svg') no-repeat 50%;
                        width: 26px;
                        height: 26px;
                        transform: translate(-20%, -50%);
                        z-index: 1;
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        left: -4.56%;
                        top: 587px;
                        background: url('./../img/mainBlock/explore_round.svg') no-repeat 50%;
                        width: 26px;
                        height: 26px;
                        transform: translate(-20%, -50%);
                        z-index: 1;
                    }
                    .main-block__image img {
                        position: absolute;
                        right: 0;
                        top: 100px;
                    }
                }
                .main-block__body>*:not(:last-child) {
                    margin: 0px 0px 35px 0px;
                }
            }
            @media (max-width: 992px) {
                .main-block__body {
                    padding: 120px 0 5px 0;
                }
            }
        }
        @media (max-width: 810px) {
            .main-block {
                margin-top: 70px;
            }
        }
        @media (max-width: 512px) {
            .main-block {
                margin-top: 170px;
            }
        }
    }
    
    @media (min-width: 479px) {
        .main-block__button:not(:last-child) {
            margin-right: 10px;
        }
    }
    
    @media (max-width: 1300px) {
        .main-block__image img {
            object-position: left;
        }
    }
    
    //--------------------header__BLOCK---------------------______________________--------------------
    .header-block {
        text-align: left;
        letter-spacing: 0.2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .header-block__title {
            font-size: 36px;
            font-family: 'Playfair Display', serif;
            line-height: 142%;
            font-weight: 700;
            max-width: 481px;
        }
        @media (max-width: 1200px) {
            .header-block__title {
                max-width: 100%;
            }
        }
        .header-block__title:not(:last-child) {
            margin: 15px 0 20px 0;
        }
        .header-block__subtitle {
            line-height: 142%;
            font-size: 17px;
            color: #7D7987;
            font-family: 'Mulish', sans-serif;
            font-weight: 300;
            max-width: 450px;
            padding: 5px;
        }
        .header-block__subtitle:not(:last-child) {
            margin: 0 0 33px 0;
        }
    }
    
    @media (max-width: 659px) {
        .header-block {
            justify-content: center;
            align-items: center;
        }
    }
    
    // ------------------------------------ stat----**********************************************************--------- *
    .page__stat {
        margin: 280px 0 0 0;
        background: #fafafa;
        .stat__container {
            display: flex;
            flex-wrap: wrap;
            .stat__header {
                margin: 0 0 50px 100px;
                z-index: 12;
                .stat__buttons {
                    display: flex;
                    position: relative;
                    &::after {
                        content: "";
                        position: absolute;
                        left: 327px;
                        top: 0px;
                        background: url('./../img/mainBlock/explore_round.svg') no-repeat 50%;
                        width: 26px;
                        height: 26px;
                        transform: translate(-20%, -50%);
                        -webkit-transform: translate(-20%, -50%);
                        -moz-transform: translate(-20%, -50%);
                        -ms-transform: translate(-20%, -50%);
                        -o-transform: translate(-20%, -50%);
                    }
                    .stat__button_orange {
                        position: relative;
                        @extend %button_style;
                        @include butt_meas(48px,
                        164px);
                        font-weight: 600;
                        font-size: 16px;
                        &:hover {
                            @extend %button_hover;
                        }
                    }
                    // @media (max-width: 770px) {
                    //     .stat__button_orange {
                    //         flex: 1 1 100%;
                    //     }
                    // }
                }
            }
            @media (max-width: 1200px) {
                .stat__header {
                    flex: 1 1 100%;
                    margin: 0 0 20px 20px;
                }
            }
            @media (max-width: 659px) {
                .stat__header {
                    flex: 1 1 100%;
                    align-items: center;
                    text-align: center;
                }
            }
            .stat__img {
                margin: 0 -15px -30px;
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    left: 105%;
                    top: -11px;
                    background: url('./../img/mainBlock/element.svg') no-repeat 50%;
                    width: 26px;
                    height: 26px;
                    transform: translate(-20%, -50%);
                    z-index: 14;
                }
            }
        }
    }
    
    @media (max-width: 992px) {
        .page__stat {
            padding: 50px 0;
        }
    }
    
    @media (max-width: 1200px) {
        .stat__header {
            flex: 1 1 100%;
            margin: 0 0 20px 20px;
        }
    }
    
    //-------------------practice advice------------------**********---------+++
    .page__destinations {
        padding: 125px 0 80px 0;
        background: #fafafa;
        .destinations__header {
            margin: 0 0 45px 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            position: relative;
            z-index: 0;
            &::before {
                content: "";
                position: absolute;
                left: -6%;
                top: 294px;
                background: url('./../img/mainBlock/element.svg') no-repeat 50%;
                width: 26px;
                height: 26px;
                transform: translate(-50%, -50%);
                z-index: 0;
            }
            &::after {
                content: "";
                position: absolute;
                left: 43%;
                top: 522px;
                background: url('./../img/mainBlock/explore_round.svg') no-repeat 50%;
                width: 26px;
                height: 26px;
                transform: translate(-20%, -50%);
                z-index: 0;
            }
            .destinations__view_all {
                padding: 0 25px 0 0;
                position: relative;
                color: $orange_color;
                z-index: -1;
                &::before {
                    content: "";
                    position: absolute;
                    left: 81%;
                    top: 50%;
                    background: url('./../img/mainBlock/VO.svg') no-repeat 50%;
                    width: 26px;
                    height: 26px;
                    transform: translate(-50%, -50%);
                    z-index: 14;
                    z-index: 1;
                }
            }
        }
        .destinations__body {
            display: flex;
            margin: 0 -20px -30px;
            flex-wrap: wrap;
            align-items: center;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                left: 83%;
                top: -154px;
                background: url('./../img/mainBlock/explore_round.svg') no-repeat 50%;
                width: 26px;
                height: 26px;
                transform: translate(-20%, -50%);
                z-index: 1;
            }
            .destinations__column {
                padding: 0 20px;
                justify-content: center;
                align-items: center;
                flex: 0 1 25%;
                margin: 0 0 30px 0px;
                display: flex;
                position: relative;
                .destinations__item {
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    z-index: 1;
                    .destination__overpic {
                        top: 276px;
                        position: absolute;
                        height: 56px;
                        width: 120px;
                        border-radius: 0px 6px 0px 0px;
                        background: #fff;
                        padding-top: 10px;
                        .destination__title {
                            font-weight: 600;
                            font-size: 17px;
                            line-height: 25px;
                            color: #042521;
                        }
                        .destination__subtitle {
                            font-weight: 500;
                            font-size: 15px;
                            line-height: 24px;
                            color: #80918e;
                        }
                    }
                    .destinations__icon {
                        z-index: 1;
                        border-radius: 8px;
                        overflow: hidden;
                    }
                }
            }
            .destinations__column:not(:last-child) {
                margin: 0 0 30px 0px;
            }
            @media (max-width: 1182px) {
                .destinations__column {
                    flex: 1 1 50%;
                }
            }
            @media (max-width: 560px) {
                .destinations__column {
                    flex: 0 1 100%;
                }
            }
        }
    }
    
    @media (max-width: 767px) {
        .destinations__header {
            margin: 0 0 25px 0;
        }
        .page__destinations {
            padding: 0px 0 40px 20px;
        }
        .destinations__header {
            margin: 0 0 25px 0;
        }
    }
    
    @media (max-width: 992px) {
        .page__destinations {
            padding: 40px 20px 80px 20px;
        }
    }
    
    //*-------------------------------------Guides by thousand--------*******++++++++++++++++++++++++++++++++*****/
    .guides {
        margin: 170px 0 0 0;
        background: #fafafa;
        .guides__container {
            display: flex;
            flex-wrap: wrap;
            .guides__header {
                margin: 0 0 50px 100px;
                z-index: 12;
                position: relative;
                .guides__buttons {
                    display: flex;
                    .guides__button_orange {
                        position: relative;
                        @extend %button_style;
                        @include butt_meas(48px,
                        164px);
                        font-weight: 600;
                        font-size: 16px;
                        &:hover {
                            @extend %button_hover;
                        }
                    }
                    // @media (max-width: 770px) {
                    //     .guides__button_orange {
                    //         flex: 1 1 100%;
                    //     }
                    // }
                }
            }
            h2::after {
                content: "";
                position: absolute;
                left: 10.4%;
                top: 11px;
                background: url('./../img/mainBlock/explore_round.svg') no-repeat 50%;
                width: 26px;
                height: 26px;
                transform: translate(-20%, -50%);
                -webkit-transform: translate(-20%, -50%);
                -moz-transform: translate(-20%, -50%);
                -ms-transform: translate(-20%, -50%);
                -o-transform: translate(-20%, -50%);
            }
            @media (max-width: 1200px) {
                .guides__header {
                    flex: 1 1 100%;
                    margin: 0 0 20px 20px;
                    align-items: center;
                }
                .guides__img {
                    justify-self: center;
                    align-items: center;
                    justify-content: center;
                }
            }
            @media (max-width: 659px) {
                .guides__header {
                    flex: 1 1 100%;
                    align-items: center;
                    text-align: center;
                }
            }
            .guides__img {
                margin: 0 -15px -30px;
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    left: 110%;
                    top: 55px;
                    background: url('./../img/mainBlock/gts_cross.svg') no-repeat 50%;
                    width: 26px;
                    height: 26px;
                    transform: translate(-20%, -50%);
                    z-index: 14;
                }
                &::after {
                    content: "";
                    position: absolute;
                    left: -15%;
                    top: 505px;
                    background: url('./../img/mainBlock/element.svg') no-repeat 50%;
                    width: 26px;
                    height: 26px;
                    transform: translate(-20%, -50%) rotate(20.4deg);
                    z-index: 14;
                    -webkit-transform: translate(-20%, -50%) rotate(20.4deg);
                    -moz-transform: translate(-20%, -50%) rotate(20.4deg);
                    -ms-transform: translate(-20%, -50%) rotate(20.4deg);
                    -o-transform: translate(-20%, -50%) rotate(20.4deg);
                }
            }
        }
        @media (max-width: 1200px) {
            .guides__container {
                flex: 1 1 100%;
                margin: 0 0 20px 0px;
                justify-content: center;
            }
        }
    }
    
    @media (max-width: 1200px) {
        .guides__header {
            flex: 1 1 100%;
            margin: 0 0 20px 20px;
        }
    }
    /*-------------------------testimony----------------------------------------------------*/
    
    .testimony {
        margin: 250px 0 50px 0;
    }
    
    .testimony__container {
        display: flex;
        flex-direction: row;
        min-height: 615px;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    @media (max-width: 832px) {
        .testimony__container {
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;
        }
        .testimony__container:last-child {
            flex: 1 1 100%;
            align-items: flex-start;
            text-align: center;
            flex-direction: column;
        }
    }
    
    .testimony__header {
        display: flex;
        margin: 0 auto;
        .header-block__ornament {
            width: 190px;
            height: 25px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            position: relative;
            div {
                height: 25px;
                width: 25px;
                background: url('./../img/mainBlock/star.svg') no-repeat 50%;
            }
            &::after {
                content: "";
                position: absolute;
                left: -100px;
                top: 65px;
                background: url('./../img/mainBlock/explore_round.svg') no-repeat 50%;
                width: 26px;
                height: 26px;
                transform: translate(-20%, -50%) rotate(20.4deg);
                z-index: 0;
                -webkit-transform: translate(-20%, -50%) rotate(20.4deg);
                -moz-transform: translate(-20%, -50%) rotate(20.4deg);
                -ms-transform: translate(-20%, -50%) rotate(20.4deg);
                -o-transform: translate(-20%, -50%) rotate(20.4deg);
            }
        }
    }
    
    @media (min-width: 659px) {
        .testimony__header {
            .header-block__title:not(:last-child) {
                margin: 0 0 145px 0;
            }
        }
    }
    
    .testimony__edward {
        .testimony__name {
            font-weight: 700;
            font-size: 22px;
            line-height: 210%;
        }
        .testimony__status {
            font-weight: 400;
            font-size: 18px;
            line-height: 260%;
        }
    }
    
    .testimony__img {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 538px;
        margin: 0 0 0 30px;
        &::after {
            content: "";
            position: absolute;
            left: -7px;
            top: 650.8px;
            background: url('./../img/mainBlock/test_big_cross.svg') no-repeat 50%;
            width: 32px;
            height: 32px;
            transform: translate(-20%, -50%);
            z-index: 14;
        }
        &::before {
            content: "";
            position: absolute;
            left: 370px;
            top: 159px;
            background: url('./../img/mainBlock/test_round_big.svg') no-repeat 50%;
            width: 42px;
            height: 42px;
            transform: translate(-20%, -50%);
            z-index: 0;
        }
        .gallery-1 {
            position: relative;
            margin: 163px 388px 0 0px;
            .buttons {
                top: 431px;
                position: absolute;
                display: flex;
                left: 252px;
                flex-direction: row;
                justify-content: space-around;
                flex-wrap: nowrap;
                width: 132px;
                height: 60px;
                background-color: #fff;
                border-radius: 16px 0px 0px 0px;
                padding: 20px 0 0 30px;
                input {
                    border: 1px solid rgb(0, 0, 0);
                    max-width: 40px;
                    max-height: 40px;
                    min-width: 40px;
                    min-height: 40px;
                    border-radius: 50%;
                    position: relative;
                }
                input:first-child {
                    margin: 0px 22px 0 0;
                }
                .prev1 {
                    background: url('./../img/mainBlock/test_ar_le.svg') no-repeat 50%;
                }
                .next1 {
                    background: url('./../img/mainBlock/test_ar_ri.svg') no-repeat 50%;
                }
                .endprev {
                    border-color: #d7d7d7;
                    background: url('./../img/mainBlock/test_ar_le_end.svg') no-repeat 50%;
                }
                .endnext {
                    border-color: #d7d7d7;
                    background: url('./../img/mainBlock/test_ar_ri_end.svg') no-repeat 50%;
                }
            }
            @media (max-width: 394px) {
                .buttons {
                    left: 180px;
                }
            }
        }
        .gallery-1 img {
            width: 384px;
            height: 491px;
            top: 0px;
            left: auto;
            position: absolute;
            opacity: 0;
            transition: 1s;
        }
        .gallery-1 .showed {
            opacity: 1;
            transition: 1s;
        }
    }
    
    @media (max-width: 420px) {
        .testimony__img {
            position: relative;
            margin: 0 0 0 0px;
        }
    }
    /*-----------------tranding**********-------------------------------------------------*/
    
    .page__trending {
        margin-top: 222px;
    }
    
    .trending__container {
        display: flex;
        flex-direction: column;
        padding: 10px;
        margin-bottom: 140px;
        .header-block {
            margin: 0 0 45px 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            position: relative;
            z-index: 0;
            &::before {
                content: "";
                position: absolute;
                left: -6%;
                top: 410px;
                background: url('./../img/mainBlock/explore_round.svg') no-repeat 50%;
                width: 26px;
                height: 26px;
                transform: translate(-50%, -50%);
                z-index: 0;
            }
            &::after {
                content: "";
                position: absolute;
                left: 450px;
                top: -34px;
                background: url('./../img/mainBlock/element.svg') no-repeat 50%;
                width: 26px;
                height: 26px;
                transform: translate(-20%, -50%);
                z-index: 0;
            }
            .trending__view_all {
                padding: 0 25px 0 0;
                position: relative;
                color: $orange_color;
                z-index: -1;
                &::before {
                    content: "";
                    position: absolute;
                    left: 81%;
                    top: 50%;
                    background: url('./../img/mainBlock/VO.svg') no-repeat 50%;
                    width: 26px;
                    height: 26px;
                    transform: translate(-50%, -50%);
                    z-index: 14;
                    z-index: 1;
                }
                &::after {
                    content: "";
                    position: absolute;
                    left: -331px;
                    top: 599px;
                    background: url('./../img/mainBlock/explore_round.svg') no-repeat 50%;
                    width: 26px;
                    height: 26px;
                    transform: translate(-20%, -50%);
                    z-index: 1;
                }
                .header-block__title {}
            }
        }
        .trending__body {
            display: flex;
            margin: 0 -20px -30px;
            flex-wrap: wrap;
            align-items: center;
            .trending__column {
                flex: 0 1 25%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 100%;
                margin: 0 0 30px 0;
                .trending__item {
                    z-index: 12;
                    flex: 1 1 auto;
                    max-width: 261px;
                    .trending__icon img {
                        margin: 0 0 20px 0;
                    }
                    .trending_title {
                        margin: 0 0 13px 0;
                        font-weight: 700;
                        font-size: 19px;
                        line-height: 130%;
                    }
                    .trending__stats {
                        margin: 0 0 23px 0;
                        font-weight: 400;
                        font-size: 15px;
                        line-height: 173%;
                        color: $pale_color;
                    }
                    .trending__readmore a {
                        color: $orange_color;
                        font-weight: 600;
                        font-size: 15px;
                        line-height: 199%;
                    }
                }
            }
            @media (max-width: 1120px) {
                .trending__column {
                    flex: 1 1 50%;
                    justify-content: space-between;
                }
            }
        }
    }
    /*-///////+++++++++++++++++++++++////-FOOTER-- ///--------*************************************************************-------*/
    
    footer {
        font-family: 'Mulish', serif;
        display: flex;
        flex-direction: column;
        .divider {
            border: 0.4px solid #C4C4C4;
            height: 0.6px;
        }
    }
    
    @media (max-width:1240px) {
        footer {
            margin-left: 30px;
        }
    }
    
    .footer__top {
        background: #F9F9FB;
        padding: 35px 0;
        .footer__row {
            margin: 0 -15px;
            display: flex;
            flex-wrap: wrap;
            .footer__column {
                padding: 15px 15px;
                flex: 0 1 20%;
                min-width: 170px;
                .footer__label {
                    color: #000;
                    font-size: 19px;
                    line-height: 300%;
                    font-weight: 700;
                    margin: 0 0 20px 0;
                }
                .menu_footer__item:not(:last-child) {
                    margin: 0 0 10px 0;
                }
                .menu_footer__link {
                    color: #848484;
                    display: inline-block;
                    letter-spacing: 0.2px;
                    line-height: 210%;
                    font-weight: 300;
                }
                .menu_footer__link:hover {
                    text-decoration: underline;
                }
                .contacts_footer {
                    display: flex;
                    flex-direction: column;
                    .contacts_footer__logo {
                        margin-bottom: 25px;
                    }
                    .contacts_footer__item {
                        font-size: 18px;
                        line-height: 155%;
                        color: #848484;
                        max-width: 391px;
                        margin-bottom: 55px;
                    }
                    .contacts_footer__item:hover {
                        text-decoration: underline;
                    }
                    .contacts_footer__rights {
                        font-size: 18px;
                        line-height: 142%;
                        color: #848484;
                        min-height: 30px;
                    }
                }
            }
            .footer__column:first-child {
                flex: 0 1 40%;
            }
            @media (max-width:992px) {
                .footer__column {
                    flex: 0 1 50%;
                }
            }
            @media (max-width:992px) {
                .footer__column:first-child {
                    flex: 0 1 50%;
                }
            }
            @media (max-width:596px) {
                .footer__column {
                    flex: 0 1 100%;
                }
            }
            @media (max-width:596px) {
                .footer__column:first-child {
                    flex: 0 1 100%;
                }
            }
        }
    }
    
    .footer__bottom {
        padding: 25px 0;
        .footer_container {
            display: flex;
            justify-content: center;
            align-items: center;
            .social {
                display: flex;
                align-items: center;
            }
            .social__item:not(:last-child) {
                margin: 0px 20px 0px 0px;
            }
        }
        @media (max-width: 767px) {
            .footer_container {
                flex-direction: column;
            }
            .footer_copy {
                margin: 0 0 15px 0;
                text-align: center;
            }
        }
    }